.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fae19d;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  top: 10%;
  left: 38%;  
  position: absolute;
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}
.main{
  display: flex;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
}
.containerDiv{
position: absolute;
right: 3%;
}
.square{
 margin: auto;
 text-align: center;
 margin-top: 10px;
 margin-bottom: 10px;
 border: 1px solid lightgray;
 background-color: white;
 cursor: pointer;
 border-radius: 8px;
 transition: 0.3s ease;
 pointer-events: all;
}
.changePlayer{
  color:#61dafb;
}
.rotatesquare{
 background-color: white;
  transform: rotateY(180deg);
  pointer-events: none;
}
.baslatButton{
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  pointer-events: all;

}
.vs{
  color: burlywood;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  align-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8%;
}
.changeplayers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.secondPlayer{
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
  margin-top: 10px;

}
.firstPlayer{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 12px;
}
.changediv{
  flex-direction: column;
  display: flex;
}
.button{
  text-align: center;
  height: 100%;
  border: none;
  background-color: #4CAF50;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  padding: 4px;
  /* padding-top: 12px; */
  padding-bottom: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  pointer-events: all;
  margin-top: 8%;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.leveldescription{
  background-color: white;
  position: absolute;
  top: 2%;
  left: 2%;
  transform: translate(-2%, -2%);
  padding: 0.1rem 0.1rem;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  font-size: 12px;
  border-radius: 10px;
}
.leveldescription h2 {
 background-color: white;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
